<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="cecer-unified" value="https://nexus.cecer1.com/repository/nuget-unified/index.json" />
    </packageSources>
</configuration>